.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.profile__image-button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  background: rgba(0, 0, 0, .8);
  cursor: pointer;
}

.profile__image-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background: url('../../../images/big-edit-icon.svg');
  opacity: 0;
  transform: translate(-50%, -50%);
}

.profile__image-button:hover::before,
.profile__image-button:hover::after,
.profile__image-button:focus-visible::before,
.profile__image-button:focus-visible::after {
  opacity: 1;
}
